@charset "utf-8";
/* CSS Document */

body p
	{
	color:green;
	}
p
	{
		color:blue;
	}
body{
	background-color: black;
	font-family: Verdana;
	color: white !important;
	
	}
h1  {
	font-family: arial;
	}
#contenedor
	{
	margin-left: 20px;
	margin-top: 10px;
}
 a 
	{
		
	color: white;

	}
body{
	
	color: red;
	}