@charset "utf-8";
/* CSS Document */

html{
	display: block;
}
body{
	margin: 20px;
	font-family: verdana;
}
#menu-principal {
	padding: 10px 0px;
}


#menu-principal a:link{
	text-decoration: none;
	color: green;
	
}
#menu-principal a:hover{
	text-decoration: underline;
	
}

#menu-principal a + a::before {
	content: " | ";
	color: black;
}

footer {
	margin-top: 20px;
border-top: solid 1px black;
padding-top: 10px;
text-align: center;
}
table {
border-collapse: collapse;
}

table th{
	padding: 10px;
	border-color: black 1px solid;
}
table td{
	padding: 10px;
	border-color: black 1px solid;
}

tbody tr:nth-child(even) {
	background: #CCC;
}

tbody tr:nth-child(odd){
	background-color: #CCF;
}

tbody tr:nth-child(even):hover {
	background: #DDD;
}

tbody tr:nth-child(odd):hover{
	background-color: #DDD;
}


.sombra {
	box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
}
