body {
	font-family: Indie Flower;
}

.container {
	margin: 0;
	padding: 0;
	width: 100%;
}

.container div {
	box-sizing: border-box;
	min-width: 150px;
	padding: 20px;
}

.c1 {
	
	background-color: #E6EBE0;
}

.c2 {
	
	background-color: #F4F1BB;
}

.c3 {
	
	background-color: #9BC1BC;
}

.c4 {
	
	background-color: #36C9C6;
}

.c5 {
	
	background-color: #ED6A5A;
}

.container {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
}

@media(max-width:420px){
	
.c1,  .c4{
width: 100%;
}
	
}
@media (min-width: 600px) {
.c1 {
width: 25%;
}

.c4 {
width: 75%;
}
		
	}

@media(max-width:600px){
	body {
		font-size: 16px;
		
	}
}

@media (min-width: 800px) {
.container {
width: 800px;
margin-left: auto;
margin-right: auto;
}
}
.container {
width: 100%;
margin: 0;
padding: 0;
}

@media (min-width:900px)
{
	body{
		color: black;
		font-size: 14px;
	}
	}
}